.customer>div:first-child{
    top: 15%;
    left: 5%;
    width: 90%;
    height:20%;
    position: absolute;
}
.customer>div>div:first-child>button:first-child{
    right: 18%;
    position: absolute;
    border: 2px solid darkblue;
    border-radius: 5%;
    color: darkblue;
    width: 10%;
    height: 20%;
    text-align: center;
    align-items: center;
}
.customer>div>div:first-child>button:nth-child(2){
    right: 5%;
    position: absolute;
    border: 2px solid #C08B5C;
    color: #C08B5C;
}
#new:hover{
    background-color: darkblue;
    color: white;
}
#view:hover{
    background-color: #C08B5C;
    color: white;
}
.card-body>input{
    width: 50%;
}
.customer>div:nth-child(2){
    position: absolute;
    top: 37%;
    left: 5%;
}
.customer>table{
    position: absolute;
    top: 50%;
}
