#Signup,#logout {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    margin-right: 40px;
}
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.home{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    top: 13%;
}
.customer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gold;
    top: 113%;
}
.item{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: orange;
    top: 213%;
}
.placeOrder{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 313%;
}