.left-pane {
    padding: 5%;
    left: 4%;
    top: 13%;
    position: absolute;
    width: 45vw;
    border: 2px solid #04afaf;
    border-radius: 10%;
    background: #04afaf;
}

.right-pane {
    padding: 5%;
    margin-top: 0px;
    margin-left: 50vw;
    width: 45vw;
    height: 85%;
    position: absolute;
    top: 10%;
    border: 2px solid #ffd649;
    border-radius: 10%;
    background: #ffd649;
}


.table-Order{
    position: absolute;
    top: 98%;
    left: 55%;
    width: 500px;
}
